<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/704dd92f4c.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/styleCategorias.css">
  <link rel="stylesheet" href="../public/styleSideBar.css">
  <link rel="icon" href="../public/assets/logoIcon.ico" type="image/x-icon">
  <!-- <script src="scriptCategorias.js"></script> -->
  <title>Categorias</title>
</head>

<body>
  <div class="titulo">
    <h1 id="titulo">Categorias</h1>
  </div>
  <img type="button" onclick="Exibir()" class="icone-mais" src="../public/assets/+.png">
  <div id="overlay"></div>
  <div class="body-sidebar"></div>
  <nav class="sidebar">
    <ul>
      <img src="../public/assets/logo.png" class="logo">
      <br><br><br>
      <li class="sidebar-item">
        <a href="../../index.html">
          <i class="tamanho fa-solid fa-house-user"></i>
          <span class="textoSidebar">
            Início
          </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="categorias.html">
          <i class="tamanho fa-solid fa-tag" style="color: #6515DD;"></i>
          <span class="textoSidebar">
            Categorias
          </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="suporte.html">
          <i class="tamanho fa-solid fa-envelope"></i>
          <span class="textoSidebar">
            Suporte
          </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="SobreNos.html">
          <i class="tamanho fa-solid fa-circle-info"></i>
          <span class="textoSidebar">
            Sobre nós
          </span>
        </a>
    </ul>
  </nav>

  <dialog id="Popup">
    <div id="formulario" class="popups">
      <h2 id="titulo-popup">Nova Categoria</h2>
      <form action="#">
        <div class="campo">
          <div class="mb-3"></div>
            <input type="text" id="nome" name="nome" placeholder="Nome" required class="form-control"  placeholder="Nome da categoria">
          </div>
        </div>

        <div class="campo">
          <select id="tipo" name="tipo" required class="form-select" aria-label="Default select example">
            <option selected>Selecione o Tipo</option>
            <option value="1">Receita</option>
            <option value="0">Despesa</option>
          </select>
        </div>



        <div class="espaco-botoes">
          <button type="button" class="btn btn-success" id="cadastrar" onclick="CadastrarCategoria()">Cadastrar</button>
          <button type="button" class="espaco-botoes btn btn-danger" id="cancelar" onclick="Cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </dialog>


  <dialog id="Popup-editar-categoria">
    <div id="formulario" class="popups">
      <h2 id="titulo-popup">Editar Categoria</h2>
      <form id="editar-form">
        <input type="hidden" id="editar-id" name="id">

        <div class="campo">
          <div class="mb-3"></div>
            <input type="text" id="editar-nome" name="nome" placeholder="Nome" required class="form-control">
          </div>
        </div>

        <div class="campo">
          <select id="editar-tipo" name="tipo" required class="form-select" aria-label="Default select example">
            <option selected>Selecione o Tipo</option>
            <option value="1">Receita</option>
            <option value="2">Despesa</option>
          </select>
        </div>

        <div class="espaco-botoes">
          <button type="button" class="btn btn-success" id="salvar" onclick=" ">Salvar</button>
          <button type="button" class="espaco-botoes btn btn-danger" id="cancelar" onclick="Cancelar()">Cancelar</button>
        </div>

      </form>
    </div>
  </dialog>




  <dialog id="Popup-apagar-categoria">
    <div id="formulario" class="popups">
      <h2 id="titulo-popup">Apagar Categoria</h2>
      <h5 id="apagar-categoria-1">Todas as suas transações com essa categoria serão apagadas</h5>
      <h5 id="apagar-categoria-2">Deseja mesmo apagar essa categoria?</h5>
      <form action="#">
        <div class="espaco-botoes">
          <button type="button" id="sim-apagar" class="btn btn-success">Sim</button>
          <button type="button" id="nao-apagar" class="espaco-botoes btn btn-danger" onclick="Cancelar()">Não</button>
        </div>
      </form>
    </div>
  </dialog>



  <div class="table-css">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Tipo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script src="../public/categorias.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
