<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/704dd92f4c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-U1W1KU6MKpug6j56e9ibq7oDY91v1drD3XKoMoZfkeQ7U166q9nN03VPqZ9zr3n" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/public/stylegerarPDF.css">
    <link rel="icon" href="/src/public/assets/logoIcon.ico" type="image/x-icon">
    <title>Extrato Mensal</title>
</head>
<header>
</header>
<body id="referencia">
  <div class="cabecalho">
    <img src="../public/assets/logo.png" class="logo">
    <h1 class="titulo">Gestor Financeiro</h1>
  </div>
  <div>
    <h2 id="relatorioMensal">Relatório Mensal - <span id="nomeMes"></span></h2>
  </div>
  <div class="valores">
    <div class="Receita">
      <div class="icon">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="texto">
        <div class="value" id="totalReceita">R$ 0000,00</div>
        <div class="label">Ganho Total</div>
      </div>
    </div>
    <div class="Despesa">
      <div class="icon">
        <i class="fas fa-money-bill-wave"></i>
      </div>
      <div class="texto">
        <div class="value" id="totalDespesa">R$ 0000,00</div>
        <div class="label">Despesa Total</div>
      </div>
    </div>
    <div class="saldo">
      <div class="icon">
        <i class="fas fa-coins"></i>
      </div>
      <div class="texto">
        <div class="value" id="saldo">R$ 0000,00</div>
        <div class="label">Saldo</div>
      </div>
    </div>
  </div>
  <div id="historico">
    <h2>Histórico de Transações</h2>
    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Valor</th>
          <th>Data</th>
          <th>Descrição</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script src="/src/public/gerarPDF.js"></script>
</body>
</html>