<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/704dd92f4c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styleSobreNos.css">
    <link rel="stylesheet" href="../public/styleSideBar.css">
    <link rel="icon" href="../public/assets/logoIcon.ico" type="image/x-icon">
    <title>Sobre Nós</title>
</head>
<header>
</header>
<body>
    <h1 id="titulo" >Sobre Nós</h1>
    
    <div class="body-sidebar"></div>
        <nav class="sidebar">
            <ul>
              <img src="../public/assets/logo.png" class="logo">
              <br><br><br>
              <li class="sidebar-item">
                  <a href="../../index.html">
                      <i class="tamanho fa-solid fa-house-user"></i>
                      <span class="textoSidebar">
                          Início
                      </span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a href="categorias.html">
                    <i class="tamanho fa-solid fa-tag"></i>
                      <span class="textoSidebar">
                          Categorias
                      </span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a href="suporte.html">
                    <i class="tamanho fa-solid fa-envelope"></i>
                      <span class="textoSidebar">
                          Suporte
                      </span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a href="SobreNos.html">
                    <i class="tamanho fa-solid fa-circle-info" style="color: #6515DD;"></i>
                      <span class="textoSidebar">
                          Sobre nós
                      </span>
                  </a>
                </li>
            </ul>
        </nav>



        <div>
            <h5 id="descricao">Sistema de Gestão de Notas é um projeto proposto para obtenção de nota na disciplina de Programação Web<br>
            Idealizado pelo professor Maycon Douglas de Moraes <br> Executado pela melhor equipe de Engenharia de Software 5º Período - 2024
                 <a href="https://www.unicesumar.edu.br/">Unicesumar</a> (conclusão em 2025)</h5>

                 <h3>
                    Integrantes:
                 </h3> 
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-8">
            <div class="col">
              <div class="card h-100">
                <img src="https://avatars.githubusercontent.com/u/137365501?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://julialayz.github.io/Portfolio/">Julia</a></h5>
                  <!-- <p class="card-text">Estilização CSS e Bootstrap</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://avatars.githubusercontent.com/u/135801343?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://leonardoposs.github.io/Portif-lio-Leonardo/">Leonardo</a></h5>
                  <!-- <p class="Desenvolvimento back-end e manipulação de dados</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://avatars.githubusercontent.com/u/137215449?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://luciano-franzoi-filho.github.io/Portifolio/">Luciano</a></h5>
                  <!-- <p class="card-text">Desenvolvimento back-end e manipulação de dados</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://avatars.githubusercontent.com/u/122309255?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://benattimatheus.github.io/PortfolioBenatti/">Matheus</a></h5>
                  <!-- <p class="card-text">Manipulação database com PHP</p> -->
                </div>
              </div>
            </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://avatars.githubusercontent.com/u/134434392?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="https://github.com/Phebarreto/Portif-lio-pessoal/tree/main">Phelipe</a></h5>
                <!-- <p class="card-text">Estilização CSS e Bootstrap</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://avatars.githubusercontent.com/u/142946829?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="https://rafaelagonzatto.github.io/Portif-lio-Pessoal/">Rafaela</a></h5>
                <!-- <p class="card-text">Desenvolvimento front-end HTML, CSS, JS</p> -->
              </div>
            </div>
          </div>
        </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

    <footer>
  <img src="/src/public/assets/logo.png" class="logo-footer">
  <h6>Oi! Leu até aqui? Você se preocupa com os mínimos detalhes, mesmo. A gente também. 💜</h6>
</footer>
</html>
</html>
