body {
    font-family: sans-serif;
    background-color: #EDF3FB;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.conteudo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.forms-email{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}
