body{
    max-width: 100%;
    margin-left: 10%;
    margin-right: 7%;
    font-family: sans-serif;
    background-color: #EDF3FB;
    color: black;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Inicialmente escondido */
    z-index: 1;
}


h1[id="titulo"]{
    margin-left: 39.5%;
    margin-top: 65px;
    margin-bottom: 60px;
}


.popup {
    background-color: white;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: opacity 0.9s ease, transform 0.9s ease;
    border-radius: 20px;

}

h2[id="titulo-popup"]{
    margin-left: 33%;
}

.campo {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    /* height: 20px; */
    padding: 8px;
    position: relative;
    border: solid 0.7px rgba(119, 116, 116, 0.5);
    border-radius: 8px;
    font-size: 20px;
    
}


select:focus {
    outline: none; /* Remover a borda de foco padrão */
    box-shadow: 0 0 5px #007bff; /* Sombra de foco */
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    width: 100%;
    border: 0px;
  }


button[id="cadastrar"]{
    width: 20%;
    height: 28px;
    background-color: rgb(75, 142, 75);
    color: white;
    margin-top: 3.5%;
    margin-left: 27%;
    margin-bottom: 3.5%;
    border-radius: 7px;
    cursor:pointer;
    border: none;
}

button[id="cancelar"]{
    width: 20%;
    height: 28px;
    background-color:rgb(220, 68, 68);
    color: white;
    margin-top: 3.5%;
    margin-left: 3%;
    margin-bottom: 3.5%;
    border-radius: 7px;
    cursor:pointer;
    border: none;
}

button[id="openPopup"]{
    background-color: #6515DD;
    font-size: 20px;
    color: white;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    margin-left: 40%;
    border:none;
}

button[id="openPopup"]:hover{
    background-color: #4d179e;
}

#historico {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
    }
}


/* Foi adicionado CSS para os campos receita despesa e saldo */

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
}

.valores>div {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 24px;
}

.saldo .icon {
    background-color: #f6e5a3;
    color: #d4a017;
}

.Receita .icon {
    background-color: #b5e7a0;
    color: #4caf50;
}

.Despesa .icon {
    background-color: #f2b7b7;
    color: #e53935;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto .value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.texto .label {
    font-size: 14px;
    color: #777;
}

.controles{
    display: flex;
    justify-content: space-between;
}

.gerarPDF{
    background-color: #6515DD;
    font-size: 15px;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border:none;
}

.gerarPDF:hover{
    background-color: #4d179e;
}

.SelectMes{
    font-size: 15px;
}

.acoesHtml{
    width: 80px;
}

.acoesJS{
    display: flex;
    justify-content: space-around;
    width: 120px;
}

.editar{
    background-color: #15dd30;
    font-size: 15px;
    color: white;
    width: 60px;
    height: 25px;
    border-radius: 7px;
    border:none;
    margin-right: 5px;
}

.excluir{
    background-color: #dd1515;
    font-size: 15px;
    color: white;
    width: 60px;
    height: 25px;
    border-radius: 7px;
    border:none;
}

.editar:hover{
    background-color: #1c9c2d;
}

.excluir:hover{
    background-color: #9e1d1d;
}