.logo{
  margin-top: 30px;
  margin-left: 22%;
  width: 60%; 

}


.tamanho {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 66px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.sidebar:hover,
nav.sidebar.expanded {
  width: 13%;
  color: #302f2f;
}

.sidebar {
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.5s ease; 
  z-index: 1000;
 
}



.sidebar>ul {
  margin: 7px 0;
}

.sidebar li {
  position: relative;
  display: block;
  width: 250px;
}

.sidebar li:hover{
  background-color: #0000000e;
}

.sidebar li>a {
  position: relative;
  color: #302f2f;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
}



.sidebar .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.sidebar .textoSidebar {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}



.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.sidebar li:hover>a,
nav.sidebar li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #6515DD;
  
}



